<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Donald Trump's Tweet Sentiment</title>
        <script src='static/Chart.js'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>

    <body>
        <center>
            <h2>Donald Trump's Tweet Sentiment</h2>
            <div style="width:700px;height=500px">
                <canvas id="chart"></canvas>
            </div>
        </center>

        <script>
           var ctx = document.getElementById("chart");
           var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: [{% for item in labels %}
                              "{{item}}",
                             {% endfor %}],
                    datasets: [
                        {
                        label: 'Positive',
                        data: [{% for item in values_pos %}
                                  {{item}},
                                {% endfor %}],
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }
                    , 
                    {
                        label: 'Neutral',
                        data: [{% for item in values_neu %}
                                  {{item}},
                                {% endfor %}],
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',    
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }, 
                    {
                        label: 'Negative',
                        data: [{% for item in values_neg %}
                                  {{item}},
                                {% endfor %}],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255,99,132,1)',
                        borderWidth: 1
                    }
                    ]
                },
                options: {
                    scales: {
                        xAxes: [{ stacked: true }],
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            },
                            stacked: true
                        }]
                        
                    }
                }
           });

           var src_Labels = [];
           var src_Data_pos = [];
           var src_Data_neu = [];
           var src_Data_neg = [];

            setInterval(function(){
                $.getJSON('/refreshData', {
                }, function(data) {
                    src_Labels = data.sLabel;
                    src_Data_pos = data.sData_pos;
                    src_Data_neu = data.sData_neu;
                    src_Data_neg = data.sData_neg;
                });

                myChart.data.labels = src_Labels;
                myChart.data.datasets[0].data = src_Data_pos;
                myChart.data.datasets[1].data = src_Data_neu;
                myChart.data.datasets[2].data = src_Data_neg;
                
                myChart.update();

            },1000);
        </script>
    </body>
</html>